﻿@page
@model RazorClassLibrary1.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
WEB PAGE WORKS - version 1
</body>
</html>
