﻿@page
@model IndexModel
@{
    ViewData["Title"] = "CI/CD Testing";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="color: #2471A3;">
        CI/CD Testing using Buddy with deployment to Azure -b
    </div>
</div>
